.refund-container{
    display: flex;
    justify-content: center;
    background-color: rgba(244, 244, 244, 0.75);
    margin-top: 20px;
}
.refund-container h1{
    font-family: 'Montserrat';
}
.refund-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:576px) {
    .refund-container{
        padding-top: 30px;
    }
    .refund-parent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .refund-container h1{
        font-size: 7vw;
    }
    .refund-parent img{
        width: 50%;
    }
}
@media screen and (min-width:577px) and (max-width:768px) {
    .refund-container{
        padding-top: 30px;
    }
    .refund-parent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .refund-parent img{
        width: 50%;
    }
}