.review-container{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.review-container h1{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}
.star{
    display: flex;
    color: yellow;
    justify-content: center;
    margin: 20px 0px 60px 0px;
    gap: 0px 5px;
}
.star img{
    width: 3vw;
}
.review-img{
    display: flex;
    justify-content: center;
}
.review-btn a:hover{
    text-decoration: none; 
}
.review-btn{
    width: 90%;
    margin: auto;
}
.review-btn button{
    width: 100%;
    background-color: #ffc417;
    border-color: #ffc417;
    color: white;
    font-family: 'Roboto Slab';
    
}
@media screen and (max-width:576px) {
    .review-container h1{
        font-size: 7vw;
    }
}
@media screen and (min-width:992px) {
    .review-container img{
    width: 75%;
    }
    .star img{
        width: auto;
    }
    .review-container h1{
        font-family: 'Ubuntu';
        font-size: 2.5rem;
    }
    .review-btn{
        width: 50%;
        margin: auto;
    }
    .review-btn button{
        width: 100%;
        background-color: #ffc417;
        border-color: #ffc417;
        color: white;
        font-family: 'Roboto Slab';
        
    }
}